/* -------------------
    RESET
------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------
    COMMON
------------------- */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/journey-3.jpg');
    background-size: cover;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 56.25rem;
    height: 100vh;
    margin: auto;
}
h1 {
    font-size: 3.75rem;
}
img {
    display: block;
}
.items {
    position: relative;
    overflow-y: hidden;
    margin-top: 1.875rem;
    width: 43.75rem;
    height: 18.75rem;
    border-width: 20px;
    border-style: solid;
    border-image: linear-gradient(to left top, #fff521, #cbc017, #998e0e, #696007, #3c3500) 1;
}
.prev, .next {
    position: absolute;
    background-color: #d1c7d0;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    margin: .3125rem 0;
    left: 50%;
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.875rem;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 100;
}
.prev:active, .next:active {
    width: 1.75rem;
    height: 1.75rem;
    line-height: 1.75rem;
    font-size: 1.125rem;
}
.next {
    bottom: 0;
}
.item {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s ease-out;
}
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.active {
    position: absolute;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}